*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(0, 0%, 86%);
}
.main{
    background-color: white;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    height: 430px;
    margin-top: 40px;
    padding: 30px;
    border-bottom-right-radius: 120px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
}
.inputBoxs{
    display: flex;
    width: 80%;
    /* padding-top: 30px; */
    /* padding-left: 30px; */
}
input{
    margin-top: 5px;
    width: 60%;
    padding: 10px 0;
    padding-left: 9px;
    border-radius: 3px;
}
button{
    all: unset;
    background-color: hsl(259, 100%, 65%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.result{
    font-size: 50px;
    font-weight: 800;
}
span{
    color: hsl(259, 100%, 65%);
    font-weight: 800;
}
.second{
    display: flex;
    margin-top: 30px;
}
hr{
    width: 90%;
   }
.alert{
    color: red;
    font-size: 12px;
}
.content{
    display: flex;
}
@media screen and (max-width: 992px){
    .main{
        width: 55%;
    }
}
@media screen and (max-width: 768px){
    .main{
        width: 65%;
    }

}
@media screen and (max-width: 576px){
    .main{
        width: 80%;
    }
    .inputBoxs{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .main{
        width: 100%;
    }
    input{
        width: 70%;
    }
}